* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #fcfcfc;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texto-encabezado {
    text-align: center;
}